<h2>"Hola, "+ user</h2>
<div class= "container" >
    <div class="row">
        <div class="col-md-6">
<p>Eventos a los que estas invitado</p>
        </div>
        <div class="col-md-6">
            <p>eventos creador</p>
        </div>
    </div>
</div>
