<form action="/signup" method="post">
    <label for="name">First Name: </label>
    <input type="text" name="name" id="txtFirstName" />
    <label for="email">Email: </label>
    <input type="text" name="email" id="txtEmail" />
    <label for="password"></label>
    <input type="password" name="password" id="txtPassword" />
    <button type="submit" id="submitBtn">Sign Up</button>
</form>
<a href="/login">Already have an account? Log In!</a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- <script type="text/javascript" src="../public/js/signup.js"></script> -->
<script type="text/javascript" src="../public/js/index.js"></script>